MakeTrainsets/scripts
Evaluate/scripts
Model/scripts
MakeTrainsets/log
Evaluate/log
Model/log
__MACOSX
*__pycache__*
*DS_Store*
.idea/
test.py
*.png*
*.jpg*
*.sh*
*.suib*
*.pdf*
*.csv*
*.npy*
*.root*
*.txt*
*.h5*
*describe.py*
CheckPoint/
